[gerrit]
	basePath = git
	canonicalWebUrl = https://{{ gerrit_hostname }}
[database]
	type = {{ gerrit_db_type }}
	hostname = {{ gerrit_db_host }}
	database = {{ gerrit_db }}
	username = {{ gerrit_db_user }}
[index]
	type = LUCENE
[auth]
	type = LDAP
[ldap]
        server = ldap://{{ freeipa_hostname }}
        accountBase = cn=users,cn=accounts,{{ ldap_dc_full }}
        accountPattern = (&(objectClass=person)(uid=${username}))
        groupBase = cn=groups,cn=accounts,{{ ldap_dc_full }}
        groupPattern = (&(objectClass=posixgroup)(cn=${groupname}))
        groupMemberPattern = (&(objectClass=posixgroup)(member=uid=${username},cn=users,cn=accounts,{{ ldap_dc_full }}))
        sslVerify = false
        accountFullName = displayName
[sendemail]
	smtpServer = localhost
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/default-java
[sshd]
	listenAddress = 127.0.0.1:{{ gerrit_sshd_listen_port }}
[httpd]
	listenUrl = proxy-http://127.0.0.1:{{ gerrit_http_listen_port }}
[cache]
	directory = cache
[download]
	scheme = ssh
	scheme = http
[gitweb]
	type = gitweb
	cgi = {{ gitweb_cgi_path }}
[commitmessage]
        maxSubjectLength = 60
        maxLineLength = 72
        rejectTooLong = true
        longLinesThreshold = 34